{{ define "main" }}

<section id="content">
    <h2>Cari artikel tertentu</h2>
    <input type="text" id="search" v-model="query" placeholder="Ketika kata kunci">
    <br><br>

    <li v-for="item in filteredItems">
        <a v-bind:href="item.link"> ${ item.title } </a>
     </li>
</section>

<p> Lainnya: <a href="/notes">Baca Blog terbaru</a>

<script src="https://cdn.jsdelivr.net/npm/vue@2.6.10/dist/vue.min.js"> </script>
<script>

    (async () => {
    const res = await fetch('/index.json');
    const itemsRaw = await res.json();
    const items = itemsRaw.data
    console.log(items)

    //check url query
    const urlParams = new URLSearchParams(window.location.search);
    var _query = urlParams.has('q') ? urlParams.get('q') : ""

    new Vue({
      delimiters: ['${', '}'],
      el: '#content',
      data: {
          items: items,
          query : _query
      },
      computed: {
          filteredItems: function() {
              let itemWithFilter = this.items.filter((item) => {
                                    return item.title.toLowerCase().includes(this.query.toLowerCase())
                                })

            return itemWithFilter
          }
      }
    })
  })();
</script>

{{ end }}